node_modules
dist
build
.next
.turbo
coverage
.env
.env.local
.env.*.local
*.log
.DS_Store
Thumbs.db
apps/api/prisma/*.db
apps/api/prisma/*.db-journal
.idea
.vscode/*
!.vscode/extensions.json
*.pem
secrets/
.pnpm-store
